@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.container {
  font-family: 'Poppins';
  width: 100%;
  height: 100vh;
  color: #444;
  font-weight: 500;
}
.input {
  background-color: #faead6;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
}
.input:focus {
  outline: 5px solid #ffce93b2;
}
.inputField {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}
.inputFile {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile_img {
  display: none;
}
.btn {
  padding: 0.8rem 1rem;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btnHome {
  background-color: #00689c;
}
button {
  cursor: pointer;
}
.error {
  color: red;
  /* display: none; */
}
.routeLink {
  color: red;
  cursor: pointer;
}
.RegisterRoute {
  color: #0284c7;
}
.logoutBtn {
  background-color: #0284c7;
  transition: all 0.3s;
}
.logoutBtn:hover {
  background-color: #00689c;
}
.title {
  font-size: 3rem;
}
.fileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #0284c7;
  cursor: pointer;
}
.profileGrid {
  display: flex;
  height: 100%;
  flex-wrap: wrap;

  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}
.profileCard {
  background-color: hsl(34, 78%, 91%);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  gap: 2rem;
  border-radius: 2rem;
}
.profilecontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.CurrentUserCard {
  background-color: #0284c7;
  color: #fff;
  flex-direction: row;
}
